{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="css/login_registration.css">
{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}
  <div class="container-fluid">
    {% include 'header.html.twig' with {'page': 'login'} %}
    <div class="form">
      <h3 class="form_header login_header">Вход</h3>
      <form action="{{ path('login') }}" method="POST">
        <input type="email" name="username" value="{{ thisUserEmail }}" class="text_input" placeholder="Почта" required/> <br/>
        <input type="password" name="password" value="{{ thisUserPassword }}" class="text_input" placeholder="Пароль" required/> <br/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="submit" value="Войти" class="submit_button"/>       
      </form>
      {% if error %}
          <div class="alert alert-danger system_error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
