    <table class="order_table" id="order_table">
        <tr class="header">
            <th class="number">Номер</th>
            <th class="name_order">Меню</th>
            <th class="price">Цена</th>
            <th class="client">Клиент</th>
            <th class="address">Адрес</th>
            <th class="status">Статус</th>
        </tr>
        {% for number in orders %}
            <tr class="order_row{% if orderIdArray[number.id] is defined %} this_user_order {% endif %}" id="order_{{ number.id }}">
                <td class="number">
                    {% if is_granted('ROLE_ADMIN') %}
                        {# <img src="img/close.png" class="delete_order_icon" id="delete_order_{{ number.id }}" /> #}
                        <button class="delete_order_icon" id="delete_order_{{ number.id }}">X</button>
                    {% endif %}
                    #{{ number.id }}
                </td>
                <td class="name_order">{{ number.pizza }}</td>
                <td class="price">{{ number.cost }}</td>
                <td class="client">{{ number.user }}</td>
                <td class="address">{{ number.address }}</td>
                {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and not is_granted('ROLE_ADMIN') %}
                    <td class="status">{{ number.status }}</td>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <select id="status_select{{ number.id }}" class="status_select">
                            <option {% if number.status == 'Готовится' %} selected {% endif %}>Готовится</option>
                            <option {% if number.status == 'Готово' %} selected {% endif %}>Готово</option>
                            <option {% if number.status == 'В пути' %} selected {% endif %}>В пути</option>
                            <option {% if number.status == 'Доставлено' %} selected {% endif %}>Доставлено</option>
                        </select>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>