{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <script src="js/script.js" async></script>
{% endblock %}
{% block title %}Menu Dolgo pizza{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'header.html.twig' with {'page': 'menu'} %}
        <div class="row">
            <ul class="nav">
                <li>
                    <a class="nav-link active menu" data-toggle="tab" href="#Menu">Меню</a>
                </li>
                <li>
                    <a class="nav-link orders" data-toggle="tab" href="#Orders" id="orders_list">Заказы</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="tab-content">
            <div class="tab-pane active" id="Menu">
                <div class="container menu-container">
                    <div class="row">
                        {% for pizza in menu %}
                            <div class="col-lg-3 col-md-4 col-sm-6 pizza_menu">
                                <img src="img/{{ pizza.image }}.jpg" class="pizza_pic"/>
                                <div class="about_pizza">
                                    <h3 class="pizza_name">{{ pizza.titlePizza }}</h3>
                                    <p class="pizza_description">
                                        {{ pizza.description }}
                                    </p>
                                    <p>
                                        <span class="cost">от {{ pizza.cost }}р</span>
                                        <input type="submit" value="Купить" class="buying" id="{{ pizza.id }}">
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane orders_page" id="Orders">
              
                <div class="order-container">
                {% include 'order_table/index.html.twig'%}
                </div>
            </div>
        </div>
{% endblock %}