{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="css/menu.css">
{% endblock %}
{% block title %}Menu Dolgo pizza{% endblock %}
{% block body %}
  	<div class="container-fluid">
	  {% include 'header.html.twig' with {'page': 'menu'} %}
  	  <div class="row">
  	  	<ul class="nav">
  	  		<li>
  	  			<a class="nav-link active menu" data-toggle="tab" href="#Menu">Меню</a>
  	  		</li>
  	  		<li>
  	  			<a class="nav-link orders" data-toggle="tab" href="#Orders">Заказы</a>
  	  		</li>
  	  	</ul>
  	  </div>
  	  <div class="tab-content">
  	  	<div class="tab-pane active" id="Menu">
  	  		<div class="container menu-container">
  	  			<div class="row">
  	  			{% for pizza in menu %}
	  				<div class="col-lg-3 col-md-4 col-sm-6 pizza_menu">
		  	  		<img src="img/{{ pizza['image'] }}.jpg" class="pizza_pic" />
		  	  		<div class="about_pizza">
			  	  		<h3 class="pizza_name">{{ pizza['title_pizza'] }}</h3>
			  	  		<p class="pizza_description">
			  	  			{{ pizza['description'] }}
			  	  		</p>
			  	  		<p>
			  	  			<span class="cost">от {{ pizza['cost'] }}р</span>
			  	  			<button class="buying" id="{{ pizza['id'] }}">Купить</button>
			  	  		</p>	
		  	  		</div>
		  	  	</div>
  	  			{% endfor %}	
	  	  		</div>
  	  		</div> 	
	  	  </div>
	  	  <div class="tab-pane orders_page" id="Orders">
	  	  	<table class="order_table">
	  	  		<tr class="header">
	  	  			<th class="number">Номер</th>
	  	  			<th class="name_order">Меню</th>
	  	  			<th class="price">Цена</th>
	  	  			<th class="client">Клиент</th>
	  	  			<th class="adress">Адрес</th>
	  	  			<th class="status">Статус</th>
	  	  		</tr>
	  	  		{% for number in orders %}
  	  			<tr>
	  	  			<td class="number">{{ number['number']}}</td>
	  	  			<td class="name_order">{{ number['pizza'] }}</td>
	  	  			<td class="price">{{ number['cost'] }}</td>
	  	  			<td class="client">{{ number['user'] }}</td>
	  	  			<td class="address">{{ number['addres'] }}</td>
	  	  			<td class="status">{{ number['status'] }}</td>
	  	  		</tr>
				{% endfor %}
	  	  	</table>
	  	  </div>	
  	  </div>	  
  	</div>
{% endblock %}